@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  margin: 0;
  background: url("images/background.png");
}

.header {
  position: relative;
  font-family: "Patrick Hand", cursive;
  font-size: 1.7em;
  font-weight: 900;
  letter-spacing: 2px;
  background: #30475eba;
  padding: 16px 159px;
  color: #ffffff;
}

.image {
  height: 1.2em;
  position: relative;
  top: 7px;
  padding: 0px 10px 0px 0px;
  filter: invert(1);
}

.dropDown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 1000ms;
}

.dropDown {
  margin: 60px 130px -11px;
  padding: 9px 88px;
  color: #f05454;
  font-size: 1.2em;
  font-family: "Patrick Hand", cursive;
  border: 2px solid #222831;
  border-radius: 7px;
}

.timer-container {
  text-align: center;
}

.timer {
  font-size: 15em;
  color: #f05454;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 10px;
  margin-top: 45px;
  margin-bottom: 20px;
  display: inline;
}

.controls-container {
  justify-content: center;
  display: flex;
}

.controls {
  height: 50px;
  margin: 35px 10px 10px;
  border-radius: 30%;
  padding: 22px;
  background-color: #68798abf;
}
